[Unit]
Description=Initializes a new dropstation
Wants=network-pre.target
Before=network-pre.target

[Service]
Type=oneshot
ExecStart=-/usr/bin/bash -c "/home/ds/ds-fw-dist/init.sh"
RemainAfterExit=yes
StandardOutput=file:/home/ds/ds-init-stdout.log
StandardError=file:/home/ds/ds-init-stderr.log

[Install]
WantedBy=network.target

# journalctl -fu ds-init