[Unit]
Description=dropstation
After=wifi-connect-start.service

[Service]
Type=simple
EnvironmentFile=/etc/environment
User=ds
ExecStart=/usr/bin/node /home/ds/ds-fw-dist/index.js
WorkingDirectory=/home/ds/ds-fw-dist
Restart=on-failure
#StandardOutput=file:/home/ds/ds-stdout.log
#StandardError=file:/home/ds/ds-stderr.log

[Install]
WantedBy=multi-user.target

# sudo ln -s /home/ds/ds-fw-dist/init/ds.service /lib/systemd/system/ds.service
# view live stdout
# journalctl -fu ds