[Unit]
Description=dropstation
After=wifi-connect-start.service

[Service]
Type=simple
EnvironmentFile=/etc/environment
User=ds
ExecStart=/usr/bin/node /home/ds/ds-fw-dist/index.js
WorkingDirectory=/home/ds/ds-fw-dist
Restart=on-failure

[Install]
WantedBy=multi-user.target

# sudo ln -s /home/ds/ds-fw-dist/init/ds.service /lib/systemd/system/ds.service
# view live stdout
# journalctl -fu ds