[Unit]
Description=Wifi connect service
After=NetworkManager.service

[Service]
Type=simple
EnvironmentFile=/etc/environment
ExecStart=/home/ds/ds-firmware/wifi-connect/start-wifi-connect.sh
Restart=on-failure
StandardOutput=/home/pi/wifi-connect-stdout.log
StandardError=/home/pi/wifi-connect-stderr.log
Type=idle
User=root

[Install]
WantedBy=multi-user.target